body {
  width: 100%;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  background-color: #02000e;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.loading div {
  width: 80px;
  height: 80px;
  font-size: 0;
  border: 6px solid rgba(255, 255, 255, 0.1);
  border-top: 6px solid #fe5493;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading span {
  width: 9.8em;
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation:
    typing 2s steps(15),
    blink 0.5s step-end infinite alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 9.8em;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
