* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  max-width: 230px;
}

.calculator input {
  height: 50px;
  font-size: 20px;
  background: #FFFFFF;
}

.calculator input.operator {
  width: 50px;
  text-align: center;
}
.calculator input.result {
  grid-column: 2 / 5;
  width: 180px;
  text-align: right;
}

.calculator button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 22px;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  border: 1px solid #9a9b96;
  cursor: pointer;
}

.calculator button[data-value="c"] {
  background: #8bc8ff;
  color: white;
}